In [107]:
## machine learning notebook number 1 ##

from pandas import read_csv
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score
from sklearn import tree

import joblib
# 1. import data
# 2. clean the data
# 3. split data into two segments:
#    Training/Test sets
# 4. Create a Model
# 5. Train the data

# 6. Make predictions
# 7. Evaluate and improve

# popular libs:
# numpy, pandas, MatPlotLib
# Scikit-Learn

df = read_csv('music.csv')
df.shape

(18, 3)

In [108]:
df

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [109]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [110]:
df.values

array([[20, 1, 'HipHop'],
       [23, 1, 'HipHop'],
       [25, 1, 'HipHop'],
       [26, 1, 'Jazz'],
       [29, 1, 'Jazz'],
       [30, 1, 'Jazz'],
       [31, 1, 'Classical'],
       [33, 1, 'Classical'],
       [37, 1, 'Classical'],
       [20, 0, 'Dance'],
       [21, 0, 'Dance'],
       [25, 0, 'Dance'],
       [26, 0, 'Acoustic'],
       [27, 0, 'Acoustic'],
       [30, 0, 'Acoustic'],
       [31, 0, 'Classical'],
       [34, 0, 'Classical'],
       [35, 0, 'Classical']], dtype=object)

In [115]:
# two separate data sets: input set and output set
X = df.drop(columns=['genre'])
y = df['genre']
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.02)
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

# joblib.dump(model, 'music-recommender.joblib')
# model = joblib.load('music-recommender.joblib')
# predictions = model.predict(X_test)
# predictions

# score = accuracy_score(y_test, predictions)
# score

tree.export_graphviz(model, out_file='music-recommender.dot',
                    feature_names=['age', 'gender'],
                    class_names=sorted(y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)